$bgApp: #F7F6F4;
$orangeColor: #D84727;
$pinkColor: #F1DDC9;
$vectorOne: rgba(216, 71, 39, 0.61);
$vectorTwo:rgba(216, 71, 39, 0.4);
$vectorThree:rgba(216, 71, 39, 0.2);
$whiteColor: #ffffff;
$blackColor: #333333;
$greyColor: #777777;