.flexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.title-section{
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 0.02em;
  margin-bottom: 68px;
  margin-left: 64px;
  &:after{
    content: '';
    border-bottom: 1px solid #333333;
    width: 120px;
    display: block;
  }
}