@import "./variables";

.flexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.title-section{
  font-size: 36px;
  font-weight: 500;
  color: $blackColor;
  letter-spacing: 0.02em;
  margin-bottom: 68px;
  margin-left: 64px;
  &:after{
    content: '';
    border-bottom: 1px solid $blackColor;
    width: 120px;
    display: block;
  }
}


#button{
  letter-spacing: 0.03em;
  color: $orangeColor;
  cursor: pointer;
  &:hover{
    background-color: $orangeColor;
    color: $whiteColor;
    transition: .3s ease-in-out;
  }
}