@import "../../styles/variables";

.slider-main{
  width: 1180px;
  height: 505px;
  background-color: $pinkColor;
  margin-top: 90px;
  margin-left: 85px;
  position: relative;

}

.slide{
  margin-top: 110px;
}