@import "../../styles/main";
@import "../../styles/variables";

.nav-main{
  @extend .flexBox;
  padding-top: 42px;
  & > nav{
   width: 445px;
   height: 34px;
   & >a{
      color: $blackColor;
      letter-spacing: 0.02em;
      font-size: 20px;
      &:not(:first-of-type){
        margin-inline-start: 40px;
      }
   }
  

  }
}

.nav-box{
  @extend .flexBox;
  &>div{
    display: flex;
    @extend .flexBox;
    & >img{
      height: 24px;
      margin-inline-start: 40px;
      margin-inline-end: 8px;
    }

    & h6{
      letter-spacing: 0.02em;
      color: $blackColor;
      font-size: 18px;
      font-weight: normal;
    }
  }

  & >div:last-of-type{
    background: $pinkColor;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    margin-left: 40px;
    & img{
    height: 24px;
    margin-inline-start: 40px;
    position: absolute;
    right: 3px;
  }
  }

  
}
