@import "../../styles/variables";
@import "../../styles/main";

.footer{
  margin-top: 75px;
  .footer-top{
    background-color: $footerColor;
    & > div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
  }

  .footer-bottom{
    @extend .flexBox;
    align-items: baseline;
    background-color: $orangeColor;
    border-top: 1px solid $orangeColor;
    color: $whiteColor;
    padding: 51px 0 75px;
    & > div:first-of-type{
      & h3{
        margin-top: 27px;
        width: 117px;
      }
      & h4{
        width: 255px;
        &:last-of-type{
          width: 139px;
        }
      }
    }

    & > div:nth-of-type(2){
      & div{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &:nth-of-type(4){
          align-items: self-start;
          margin-top: 24px;
        }
      }
    }

    & h2{
      font-weight: 600;
      margin-bottom: 16px;
    &:after{
      content: '';
      border-bottom: 1px solid $whiteColor;
      width: 60px;
      display: block;
    }
    }

    & h3{
      font-size: 20px;
      font-weight: 500;
      width: 97px;
    }
    & h4{
      font-weight: normal;
    }

  }
}