@import "../../styles/variables";
@import "../../styles/main";

.slider-container{
  position: relative;
  .slides{
    @extend .flexBox;
    justify-content: space-between;
    color: $blackColor;
    letter-spacing: 0.03em;
    & h1{
      font-size: 36px;
    }
    & p {
      font-size: 16px;
      width: 551px;
      margin-bottom: 32px;
      margin-top: 62px;
    }
    & h4{
      font-size: 24px;
    }
    & h6{
      color: $greyColor;
      font-size: 16px;
    }

    &> div:first-of-type{
      position: relative;
      & img:first-of-type{
        width: 515px;
        height: 300px;
      }
      & img:last-of-type{
        position: absolute;
        left: 165px;
        top: 67px;
      }
    }
  }
  .arrows{
    margin-left: 11em;
    margin-top: 6em;
    display: flex;
    z-index: 22;
    & span{
      width: 64px;
      height: 64px;
      cursor: pointer;
    }
  }

  .vector-main{
    z-index: 2;
    top: -3.3em;
    left: -2em;
    overflow: hidden;
    width: 30em;
  }
}


.active{
  display: inline-block;
}

.inactive{
  display: none;
}

