@import "../../styles/variables";
@import "../../styles/main";


.recent-news{
  display: flex;
  margin-left: 64px;
  flex-wrap: wrap;
  margin-bottom: 92px;
  position: relative;

  .left-news{
    & > h6{
      letter-spacing: 0.02em;
      color: $greyColor;
      font-size: 20px;
    }

    & > h4{
      letter-spacing: 0.02em;
      color: $blackColor;
      font-size: 36px;
      margin-top: 8px;
      width: 350px;
    }

    & > button{
      margin-top: 45px;
      border: 2px solid $orangeColor;
      width: 160px;
      height: 58px;
      font-size: 16px;
      @extend #button;
    }
  }


  .right-news{
    display: flex;
    position: relative;
    margin-left: 75px;
    z-index: 5;

    & > img:first-of-type{
      z-index: 11;
    }

    & > img:last-of-type{
      position: absolute;
      left: 220px;
      z-index: -1;
      bottom: 69px;
    }

    .vector-main{
      left: 9em;
      top: -3em;
      transform: rotate(10deg);
    }
  }

}